/* @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=Courier+Prime:wght@400;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .code-block {
    @apply p-4 mb-8 rounded border border-l-4 border-dark text-light dark:border-light dark:text-dark;
  }

  .main-container {
    @apply container mx-auto px-4 md:px-8 py-16;
  }
  .blog-container {
    @apply max-w-3xl mx-auto px-4 md:px-8;
  }
  .blog-container p {
    @apply normal-text;
  }
  .blog-container strong {
    @apply featured-tag font-bold;
  }
  .blog-container a {
    @apply hover-link text-primary dark:text-secondary;
  }

  .normal-text {
    @apply text-base text-dark mb-4 md:text-lg lg:text-xl dark:text-light font-light;
  }
  .normal-text strong {
    @apply font-bold;
  }
  .title {
    @apply normal-text font-bold text-5xl mb-8 mt-12;
  }
  .subtitle {
    @apply normal-text font-semibold text-3xl mb-8 mt-12;
  }
  .featured-tag {
    @apply bg-primary text-light font-bold rounded px-2 dark:bg-secondary dark:text-dark;
  }
  .featured-title {
    @apply inline-block bg-dark text-secondary dark:bg-secondary dark:text-dark p-2 rounded;
  }

  .btn-link {
    @apply inline-block text-dark no-underline;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier Prime', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.code-block {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
}

.code-block {
  border: 1px solid theme('colors.dark');
  color: theme('colors.dark');
  border-width: 1px 1px 1px 8px;
}
.dark .code-block {
  border: 1px solid theme('colors.light');
  color: theme('colors.light');
  border-width: 1px 1px 1px 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Abril Fatface'; */
  /* font-family: 'Bebas Neue'; */
  font-family: 'Montserrat';
}
.hyper-title {
  font-family: 'Bebas Neue', sans-serif;
}

.hover-link {
  display: inline-block;
  text-decoration: none;
}

.hover-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: theme('colors.primary');
  transition: width .3s;
}
html.dark .hover-link::after {
  background: theme('colors.secondary');
}

.hover-link:hover::after {
  width: 100%;
}